/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  background: #f6fff5;
  border-right: $border;
  color: black;
  /* 15px */
  //color: rgba(255, 255, 255, 0.6);
  //background-color: #202020;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  .btn {
    font-weight: normal;
    //color: #fff;
    max-width: 2rem;
    padding: .5rem;
    border-top: 0;
    color: #202020;
    margin: 0 0 1rem 0;
    span {
      line-height: 20px;
    }
  }

}

@media (min-width: 30rem) {
  .sidebar {
    font-size: .75rem;
    /* 14px */
  }
}

/* Sidebar content */

.sidebar-item {
  padding: 1rem;
  p:last-child {
    margin-bottom: 0;
  }
}

/* Sidebar nav */

.sidebar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav-item-container {
  margin-left: 10%;
  border-top: $border;
}
.sidebar-nav-item {
  display: block;
  //width: 80%;
  padding: 0;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  &.active {
    text-decoration: none;
    background-color: #22245e;
    color: #f6fff5;
    //border-color: transparent;
    border-left: $border;
  }
}

a.sidebar-nav-item {
  &:hover, &:focus {
    text-decoration: none;
    background-color: #7B7F7A;
    color: white;
  }
}

@media (min-width: 48rem) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */

.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2.5rem;
  padding: .9rem .65rem;
  color: #505050;
  border-right: $border;
  border-bottom: $border;
  min-height: 2.5rem;
  line-height: 2.5rem;
  font-size: 20px;
  //background-color: #A8B6BF;
  //background-color: #fff;
  cursor: pointer;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: .125rem;
    border-top: .375rem double;
    border-bottom: .125rem solid;
    /* Make the border inside the box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:active {
    color: #f6fff5;
    background-color: #505050;
  }
}

#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  background-color: #22245e;
}

@media (min-width: 30.1rem) {
  .sidebar-toggle {
    position: fixed;
    width: 2.5rem;
    padding-top: 0.95rem;
    &:before {
      padding-bottom: .15rem;
      border-top-width: .45rem;
      border-bottom-width: .15rem;
    }
  }
}

/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.wrap, .sidebar, .sidebar-toggle {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wrap, .sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked {
  + .sidebar {
    visibility: visible;
  }
  ~ {
    .sidebar, .wrap, .sidebar-toggle {
      -webkit-transform: translateX(14rem);
      -ms-transform: translateX(14rem);
      transform: translateX(14rem);
    }
  }
}